## Ödev - 1. Hafta

In [1]:
#1
cocuklar = 5
yıl = 3
baba = ((cocuklar + 2*yıl) * 3) - yıl
print(baba)

30

In [2]:
#2
text = "Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir."
text = text.lower().replace("veri bilim", "VERİ BİLİM")
print(text)

VERİ BİLİMi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (ai) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. VERİ BİLİMiyle uğraşan kişilere VERİ BİLİMci denir. bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.

In [3]:
#3
print("Bilalcan USTABAŞ İstanbul 3.23")

Bilalcan USTABAŞ İstanbul 3.23

In [4]:
#4
text = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."
word_1 = text[:11]
for i in range(len(word_1)):
    print(word_1 + "\n")
word_2 = text[40:58]  
for i in range(len(word_2)):
    print(word_2 + "\n")

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

alanlardan biridir

In [5]:
#5
x = "Veri Bilimi"
x = x.lower()
print(x , "is lower: " + str(x.islower()))
x = x.upper()
print(x , "is upper: " + str(x.isupper()))

veri bilimi is lower: True
VERI BILIMI is upper: True

In [6]:
#6
listem = ["bilalcan", "Ustabaş", 22, "Istanbul", 3.23]

In [7]:
#7
listem2 =  listem[2:]
print(listem2)

[22, 'Istanbul', 3.23]

In [8]:
#8
for i in listem2:
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
#9
eklenecek_liste = ["Ali", 90, "Mehmet"]
listem2.append(eklenecek_liste)
print(listem2)

[22, 'Istanbul', 3.23, ['Ali', 90, 'Mehmet']]

In [10]:
#10
listem3 = listem2[3][:2]
print(listem3)

['Ali', 90]

In [11]:
#11
listem2.extend(listem3)
print(listem2)

[22, 'Istanbul', 3.23, ['Ali', 90, 'Mehmet'], 'Ali', 90]

In [12]:
#12
del listem2[-1]
print(listem2)

[22, 'Istanbul', 3.23, ['Ali', 90, 'Mehmet'], 'Ali']

In [13]:
#13
yeni_liste = []
for n in range(10,0,-1): yeni_liste.append(n)
print(yeni_liste)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
#14
print("7 rakamının indexi:" + str(yeni_liste.index(7)))  
print("2 rakamının indexi:" + str(yeni_liste.index(2)))

7 rakamının indexi:3
2 rakamının indexi:8

In [15]:
#15
tuple1 = tuple(listem2)
print(tuple1)

(22, 'Istanbul', 3.23, ['Ali', 90, 'Mehmet'], 'Ali')

In [16]:
#16
#tuples are not mutable!!
tuple1[-1] = "Veli"

TypeError: 'tuple' object does not support item assignment

In [18]:
#17
yeni_tuple = ()
for n in range(10,0,-1): yeni_tuple = yeni_tuple + (n,)
print(yeni_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [19]:
#18
print("7 rakamının indexi:" + str(yeni_tuple.index(7)))  
print("2 rakamının indexi:" + str(yeni_tuple.index(2)))

7 rakamının indexi:3
2 rakamının indexi:8

In [20]:
#19
dictionary = {"REG" : ["RMSE",10],
              "LOJ" : ["MSE", 20],
              "CART" : ["SSE",30]}

my_set = {dictionary["REG"][1],dictionary["LOJ"][1]}
print(my_set)

{10, 20}

In [21]:
#20
dictionary["CART"] = ["SSE", 30]
print(dictionary)

{'REG': ['RMSE', 10], 'LOJ': ['MSE', 20], 'CART': ['SSE', 30]}

In [22]:
#21
dictionary["RF"] = ["SSE", 50]
print(dictionary)

{'REG': ['RMSE', 10], 'LOJ': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

In [23]:
#22
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]
set1 = set(liste1)
print(set1)
print("set1'deki eleman satısı:" , len(set1))

{'Ayşe', 10, 'Ali', 20, 'Mehmet'}
set1'deki eleman satısı: 5

In [24]:
#23
set1[5]
set1[7]
#setler indexli değildir

TypeError: 'set' object is not subscriptable

In [25]:
#24
set1.remove("Ali")
set1.add("Veli")
set1.remove(10)
set1.add("40")

print(set1)

{'Ayşe', 'Veli', '40', 20, 'Mehmet'}

In [26]:
#25.1
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

set1.difference(set2)

{5}

In [27]:
#25.2
set2.difference(set1)

{2}

In [28]:
#25.3
set1.symmetric_difference(set2)

{2, 5}

In [29]:
#25.4
set1.intersection(set2)

{1, 3}

In [30]:
#25.5
set1.union(set2)

{1, 2, 3, 5}

In [31]:
#25.6
set1.isdisjoint(set2)

False

In [32]:
#25.7
set1.issubset(set2)

False

In [33]:
#25.8
set1.issuperset(set2)

False

In [34]:
#26
def zam(maaslar):
    for i in range(len(maaslar)): maaslar[i] *= 1.2
    return maaslar

maaslar = [1000,2000,3000,4000,5000]
zamlı_maaslar = zam(maaslar)
print(zamlı_maaslar)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [35]:
#27
def vergi(maaslar):
    for i in range(len(maaslar)):
        if maaslar[i] < 2500: maaslar[i] -= 50
        else: maaslar[i] -= 100
    return maaslar

net_maas = vergi(zamlı_maaslar)
print(net_maas)

[1150.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [36]:
#28 
def group(students):
    list1 = []
    list2 = []
    for i in range(len(students)):
        if i < len(students)/2: list1.append(students[i])
        else: list2.append(students[i])
    return list1,list2
    
students = ["John", "Mark", "Venessa", "Mariam"]
new_students = group(students)
print(new_students)

(['John', 'Mark'], ['Venessa', 'Mariam'])

In [37]:
#29
def upperLower(string):
    string = list(string)
    for i in range(len(string)):
        if i % 2 == 0: string[i] = string[i].upper()
        else: string[i] = string[i].lower()
    string = "".join(string)
    return string

text = "hi my name is john and i am learning python"
text = upperLower(text)
print(text)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [38]:
#30
def upperLower(string):
    temp = "" 
    for i, string in enumerate(string):
        if i % 2 == 0: temp += string.upper()
        else: temp += string.lower()       
    return temp
text = "hi my name is john and i am learning python"
result = upperLower(text)
print(result)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [39]:
#31
name = input("Lütfen isminizi giriniz: ")
age = input("Lütfen yaşınızı giriniz: ")

print("Merhaba benim ismim " + name + ",\n" + age + " yaşındayım.")

Lütfen isminizi giriniz: Bilalcan
Lütfen yaşınızı giriniz: 22
Merhaba benim ismim Bilalcan,
22 yaşındayım.